<h1><%= @user.username %></h1>
<hr>

<%= if @user == @conn.assigns.current_user do %>
  <ul>
    <li>Atualizar meus dados</li>
    <li>Excluir essa conta</li>
  </ul>  

  <hr>
<% end %>

<%= for post <- @posts do %>
  <fieldset>
    <strong><%= post.user.username %></strong>
    <p><%= post.text %></p>
    <%= button "like", to: "/" %>
    <%= button "dislike", to: "/" %>

    <hr>
  </fieldset>
<% end %>