<%= form_for @changeset, Routes.post_path(@conn, :create), fn f -> %>
  <fieldset>
    <%= label f, :text, "Make your post" %>
    <%= textarea f, :text, [maxlength: 255, required: true, autofocus: true] %>

    <%= submit "Post" %>
  </fieldset>
<% end %>