<%= form_for @changeset, Routes.post_path(@conn, :create), fn f -> %>
  <fieldset>    
    <%= label f, :text, "O que você tem a dizer?" %>
    <%= if text_err = @errs[:text] do %>
      <div class="alert alert-danger">
        <p><%= text_err %></p>
      </div>
    <% end %>
    <%= textarea f, :text, [maxlength: 255, required: true, autofocus: true] %>

    <%= submit "Post" %>
  </fieldset>
<% end %>